/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "keys_sv.h"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp ESC           &kp SV_N1  &kp SV_N2  &kp SV_N3  &kp SV_N4   &kp SV_N5                            &kp SV_N6      &kp SV_N7      &kp SV_N8    &kp SV_N9  &kp SV_N0        &kp BACKSPACE
&kp TAB           &kp Q      &kp W      &kp E      &kp R       &kp T                                &kp Y          &kp U          &kp I        &kp O      &kp P            &kp SV_A_RING
&kp LEFT_SHIFT    &kp A      &kp S      &kp D      &kp F       &kp G                                &kp H          &kp J          &kp K        &kp L      &kp SV_O_UMLAUT  &kp SV_A_UMLAUT
&kp LEFT_CONTROL  &kp Z      &kp X      &kp C      &kp V       &kp B      &lbkt_lbrc    &rbkt_rbrc  &kp N          &kp M          &comma_lt    &dot_gt    &kp SV_QUESTION  &kp SV_MINUS
                                        &kp LALT   &lt 2 LCMD  &mo 1      &kp SPACE     &kp ENTER   &kp RIGHT_ALT  &semi_colon    &plus_equal
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            display-name = "Lower";
            bindings = <
&bt BT_CLR        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &kp EQUAL  &kp PLUS         &kp QMARK    &none            &kp PIPE  &kp TILDE
&kp F1            &kp F2        &kp F3        &kp F4        &kp F5        &kp F6                          &kp F7     &kp F8           &kp F9       &kp F10          &kp F11   &kp F12
&kp LEFT_SHIFT    &trans        &trans        &trans        &trans        &trans                          &trans     &trans           &trans       &trans           &trans    &trans
&kp LEFT_CONTROL  &trans        &trans        &trans        &trans        &trans        &trans    &trans  &kp DEL    &kp KP_MULTIPLY  &kp KP_PLUS  &kp PRINTSCREEN  &trans    &trans
                                              &trans        &trans        &trans        &trans    &trans  &trans     &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            display-name = "Raise";
            bindings = <
&kp F7            &kp F8  &kp F9  &kp F10  &kp F11  &kp F12                    &trans  &trans          &trans          &trans           &trans  &trans
&kp F1            &kp F2  &kp F3  &kp F4   &kp F5   &kp F6                     &trans  &trans          &trans          &trans           &trans  &trans
&kp LEFT_SHIFT    &trans  &trans  &trans   &trans   &trans                     &trans  &trans          &kp UP_ARROW    &trans           &trans  &trans
&kp LEFT_CONTROL  &trans  &trans  &trans   &trans   &trans   &trans    &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
                                  &trans   &trans   &trans   &trans    &trans  &trans  &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };

    // ---------- Behaviors ----------

    behaviors {
        // Brackets

        lbkt_lbrc: bracket_brace_left {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_LBKT>, <&kp SV_LBRC>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rbkt_rbrc: bracket_brace_right {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_RBKT>, <&kp SV_RBRC>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Comma / Dot / Semicolon / Plus

        comma_lt: comma_less {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_COMMA>, <&kp SV_LT>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot_gt: dot_greater {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_DOT>, <&kp SV_GT>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        semi_colon: semi_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_SEMI>, <&kp SV_COLON>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        plus_equal: plus_equal {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SV_PLUS>, <&kp SV_EQUAL>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};
